<table>
  <thead>
    <tr>
      <th></th>
      <th><h1>NOTIFICACION DESDE EL SISTEMA</h1></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">
        <%= @greeting %>: Gracias por unirte a nuestra pagina.....  saludos,... chau
      </td>
    </tr>
    </tbody>
  <tfoot>

  </tfoot>
</table>
